Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1278 570 148 142

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/macro/github/verilog-basic/divider/sequ_div/testbench.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 240112.304688 720336.914062
cursor 365000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 15

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname sequ_div.cur_state
nalias DIV_DIVIDEND_ST_DIVIDER		9'b001000000		NULL
nalias DIV_DIVIDER_ONE		9'b000010000		NULL
nalias DIV_OUTPUT		9'b100000000		NULL
nalias DIV_DIVIDER_ZERO		9'b000000100		NULL
nalias DIV_IDLE		9'b000000001		NULL
nalias DIV_DIVIDEND_BT_DIVIDER		9'b010000000		NULL
nalias DIV_DIVIDER_EQU_DIVIDEND		9'b000100000		NULL
nalias DIV_DIVIDEND_ZERO		9'b000001000		NULL
nalias DIV_START		9'b000000010		NULL

addGroup "G1"
activeDirFile "" "/home/macro/github/verilog-basic/divider/sequ_div/testbench.fsdb"
addSignal -h 15 /testbench/sequ_div_u0/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope divider[31:0]
addSignal -h 15 -holdScope dividend[31:0]
addSignal -h 15 -holdScope start
addSignal -h 15 -holdScope quotient[31:0]
addSignal -h 15 -holdScope ready
addSignal -h 15 -holdScope remainder[31:0]
addSignal -h 15 -holdScope illegal_divider_zero
addSignal -h 15 -holdScope sub_diff[32:0]
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 15 -holdScope shift_count[4:0]
addSignal -h 15 -holdScope remainder_quotient[63:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -holdScope illegal
aliasname sequ_div.cur_state
addSignal -h 15 -UNSIGNED -UDEC -holdScope cur_state[8:0]
aliasname sequ_div.cur_state
addSignal -h 15 -UNSIGNED -HEX -holdScope next_state[8:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

