Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1278 408 100 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/macro/work/github/verilog-basic/systemverilog/interface/modport/testbench.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 597.500000
cursor 55.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 6

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/macro/work/github/verilog-basic/systemverilog/interface/modport/testbench.fsdb"
addSignal -h 15 /testbench/dut_u/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope a_in[4:0]
addSignal -h 15 -holdScope b_in[4:0]
addSignal -h 15 -holdScope c_ou[4:0]
addSignal -h 15 -holdScope d_ou[4:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/macro/work/github/verilog-basic/systemverilog/interface/modport/testbench.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/testbench"

SCOPE_LIST_BEGIN
"/testbench"
"/testbench/intf_i/dut_intf"
"/testbench/intf_i/dut_port_cb"
"/testbench/t0/i_intf"
"/testbench/t0"
"/testbench/dut_u"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


