(edif status_reg
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 9 7 1 57 43)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "H-2013.03-SP1-1 , mapper map201303sp1_1rc, Build 003R"))
     )
   )
  (library (rename &3200DX "3200DX")
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell outbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port pad (direction OUTPUT))
         )
       )
    )
    (cell inbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port pad (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell clkbuf (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port pad (direction INPUT))
           (port y (direction OUTPUT))
         )
       )
    )
    (cell gnd (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port y (direction OUTPUT))
         )
       )
    )
    (cell vcc (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port y (direction OUTPUT))
         )
       )
    )
    (cell dfc1b (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port d (direction INPUT))
           (port clk (direction INPUT))
           (port clr (direction INPUT))
           (port q (direction OUTPUT))
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell status_reg (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port clk (direction INPUT))
           (port rstN (direction INPUT))
           (port int_en (direction INPUT))
           (port zero (direction INPUT))
           (port carry (direction INPUT))
           (port neg (direction INPUT))
           (port (array (rename parity "parity[1:0]") 2) (direction INPUT))
           (port (array (rename status "status[7:0]") 8) (direction OUTPUT))
         )
         (contents
          (instance (rename GNDZ0 "GND") (viewRef netlist (cellRef gnd (libraryRef &3200DX)))          )
          (instance (rename VCCZ0 "VCC") (viewRef netlist (cellRef vcc (libraryRef &3200DX)))          )
          (instance carry_pad (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (instance clk_pad (viewRef netlist (cellRef clkbuf (libraryRef &3200DX)))
          )
          (instance int_en_pad (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (instance neg_pad (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (instance (rename parity_pad_0 "parity_pad[0]") (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (instance (rename parity_pad_1 "parity_pad[1]") (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (instance rstN_pad (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (instance (rename status_1_2 "status_1[2]") (viewRef netlist (cellRef dfc1b (libraryRef &3200DX)))
          )
          (instance (rename status_1_3 "status_1[3]") (viewRef netlist (cellRef dfc1b (libraryRef &3200DX)))
          )
          (instance (rename status_1_4 "status_1[4]") (viewRef netlist (cellRef dfc1b (libraryRef &3200DX)))
          )
          (instance (rename status_1_5 "status_1[5]") (viewRef netlist (cellRef dfc1b (libraryRef &3200DX)))
          )
          (instance (rename status_1_6 "status_1[6]") (viewRef netlist (cellRef dfc1b (libraryRef &3200DX)))
          )
          (instance (rename status_1_7 "status_1[7]") (viewRef netlist (cellRef dfc1b (libraryRef &3200DX)))
          )
          (instance (rename status_pad_0 "status_pad[0]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_1 "status_pad[1]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_2 "status_pad[2]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_3 "status_pad[3]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_4 "status_pad[4]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_5 "status_pad[5]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_6 "status_pad[6]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance (rename status_pad_7 "status_pad[7]") (viewRef netlist (cellRef outbuf (libraryRef &3200DX)))          )
          (instance zero_pad (viewRef netlist (cellRef inbuf (libraryRef &3200DX)))
          )
          (net (rename VCCZ1 "VCC") (joined
           (portRef y (instanceRef VCCZ0))
           (portRef d (instanceRef status_pad_5))
           (portRef d (instanceRef status_pad_6))
          ))
          (net carry (joined
           (portRef carry)
           (portRef pad (instanceRef carry_pad))
          ))
          (net carry_c (joined
           (portRef y (instanceRef carry_pad))
           (portRef d (instanceRef status_1_5))
          ))
          (net clk (joined
           (portRef clk)
           (portRef pad (instanceRef clk_pad))
          ))
          (net clk_c (joined
           (portRef y (instanceRef clk_pad))
           (portRef clk (instanceRef status_1_2))
           (portRef clk (instanceRef status_1_3))
           (portRef clk (instanceRef status_1_4))
           (portRef clk (instanceRef status_1_5))
           (portRef clk (instanceRef status_1_6))
           (portRef clk (instanceRef status_1_7))
          ))
          (net int_en (joined
           (portRef int_en)
           (portRef pad (instanceRef int_en_pad))
          ))
          (net int_en_c (joined
           (portRef y (instanceRef int_en_pad))
           (portRef d (instanceRef status_1_7))
          ))
          (net neg (joined
           (portRef neg)
           (portRef pad (instanceRef neg_pad))
          ))
          (net neg_c (joined
           (portRef y (instanceRef neg_pad))
           (portRef d (instanceRef status_1_4))
          ))
          (net (rename parity_0 "parity[0]") (joined
           (portRef (member parity 1))
           (portRef pad (instanceRef parity_pad_0))
          ))
          (net (rename parity_1 "parity[1]") (joined
           (portRef (member parity 0))
           (portRef pad (instanceRef parity_pad_1))
          ))
          (net (rename parity_c_0 "parity_c[0]") (joined
           (portRef y (instanceRef parity_pad_0))
           (portRef d (instanceRef status_1_2))
          ))
          (net (rename parity_c_1 "parity_c[1]") (joined
           (portRef y (instanceRef parity_pad_1))
           (portRef d (instanceRef status_1_3))
          ))
          (net rstN (joined
           (portRef rstN)
           (portRef pad (instanceRef rstN_pad))
          ))
          (net rstN_c (joined
           (portRef y (instanceRef rstN_pad))
           (portRef clr (instanceRef status_1_2))
           (portRef clr (instanceRef status_1_3))
           (portRef clr (instanceRef status_1_4))
           (portRef clr (instanceRef status_1_5))
           (portRef clr (instanceRef status_1_6))
           (portRef clr (instanceRef status_1_7))
          ))
          (net (rename status_0 "status[0]") (joined
           (portRef pad (instanceRef status_pad_0))
           (portRef (member status 7))
          ))
          (net (rename status_1 "status[1]") (joined
           (portRef pad (instanceRef status_pad_1))
           (portRef (member status 6))
          ))
          (net (rename status_2 "status[2]") (joined
           (portRef pad (instanceRef status_pad_2))
           (portRef (member status 5))
          ))
          (net (rename status_3 "status[3]") (joined
           (portRef pad (instanceRef status_pad_3))
           (portRef (member status 4))
          ))
          (net (rename status_4 "status[4]") (joined
           (portRef pad (instanceRef status_pad_4))
           (portRef (member status 3))
          ))
          (net (rename status_5 "status[5]") (joined
           (portRef pad (instanceRef status_pad_5))
           (portRef (member status 2))
          ))
          (net (rename status_6 "status[6]") (joined
           (portRef pad (instanceRef status_pad_6))
           (portRef (member status 1))
          ))
          (net (rename status_7 "status[7]") (joined
           (portRef pad (instanceRef status_pad_7))
           (portRef (member status 0))
          ))
          (net (rename status_1Z0Z_2 "status_1[2]") (joined
           (portRef q (instanceRef status_1_2))
           (portRef d (instanceRef status_pad_0))
          ))
          (net (rename status_1Z0Z_3 "status_1[3]") (joined
           (portRef q (instanceRef status_1_3))
           (portRef d (instanceRef status_pad_1))
          ))
          (net (rename status_1Z0Z_4 "status_1[4]") (joined
           (portRef q (instanceRef status_1_4))
           (portRef d (instanceRef status_pad_2))
          ))
          (net (rename status_1Z0Z_5 "status_1[5]") (joined
           (portRef q (instanceRef status_1_5))
           (portRef d (instanceRef status_pad_3))
          ))
          (net (rename status_1Z0Z_6 "status_1[6]") (joined
           (portRef q (instanceRef status_1_6))
           (portRef d (instanceRef status_pad_4))
          ))
          (net (rename status_1Z0Z_7 "status_1[7]") (joined
           (portRef q (instanceRef status_1_7))
           (portRef d (instanceRef status_pad_7))
          ))
          (net zero (joined
           (portRef zero)
           (portRef pad (instanceRef zero_pad))
          ))
          (net zero_c (joined
           (portRef y (instanceRef zero_pad))
           (portRef d (instanceRef status_1_6))
          ))
         )
        (property orig_inst_of (string "status_reg"))
       )
    )
  )
  (design status_reg (cellRef status_reg (libraryRef work)))
)
